.chat-window {
  width: 100%;
  flex-shrink: 1;
}

@media (max-width: 700px) {
  .chat-window {
    width: calc(100% - 4.5rem);
    margin-left: 4.5rem;
  }
}

.chat-window-header {
  height: 4rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-bottom: 1px solid #c9c9c9;
}

.chat-window-header > h3 {
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-entries {
  height: calc(100% - 8rem);
  margin-top: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.message-entries::-webkit-scrollbar {
  width: 0.5rem;
}

.message-entries::-webkit-scrollbar-track {
  background: transparent;
}

.message-entries::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 25px;
}

.message-input-container {
  height: 4rem;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
}

.message-input {
  display: block;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}

.message-input:focus {
  border: 1px solid #c9c9c9;
  outline: 1px solid #333;
}
