.signup-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: column;
}

.signup-form-container {
  max-width: 25rem;
  margin-top: 1rem;
  padding: 1.2rem;
  color: #333;
}

.signup-form-container > *:not(:first-child) {
  margin-top: 1.2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form > *:not(:first-child) {
  margin-top: 1.2rem;
}

.file-input-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.file-upload-text {
  display: block;
}

.file-input-icon {
  width: 2rem;
  height: 2rem;
  fill: #333;
}
