.nav-container {
  height: 75px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c9c9c9;
  position: relative;
}

.nav-bar {
  max-width: 1800px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .nav-bar {
    padding-inline: 1.5rem;
  }
}

.logo {
  font-size: 1.35rem;
  font-weight: 900;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav-menu {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #c9c9c9;
  transition: display 200ms;
}

@media (max-width: 700px) {
  .nav-menu {
    z-index: 9999;
    position: absolute;
    margin: 0;
    top: 75px;
    left: 0px;
    height: 100vh;
    display: flex;
    gap: 0rem;
    flex-direction: column;
    transition: transform 500ms, visibility 500ms;
  }

  .nav-menu[data-visible='false'] {
    display: none;
    transform: translateX(100vw);
  }

  .nav-menu[data-visible='true'] {
    display: flex;
  }
}

.nav-link {
  height: 75px;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.nav-link.active {
  background-color: #e9ecf5;
  font-weight: 700;
}

.nav-link:hover {
  background-color: #e9ecf5;
}

.push-to-right {
  margin-left: auto;
  margin-right: 0;
}
