.hamburger {
  min-width: 35px;
  height: 26px;
  padding: 0;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hamburger-bar {
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 10px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger .hamburger-bar:nth-child(1) {
  top: 0px;
  transform-origin: rotate(45deg);
}

.hamburger .hamburger-bar:nth-child(2) {
  top: 11px;
}

.hamburger .hamburger-bar:nth-child(3) {
  top: 22px;
}

.hamburger.open .hamburger-bar:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.hamburger.open .hamburger-bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open .hamburger-bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}
