main {
  height: calc(100vh - 75px);
}

.btn-primary {
  width: 5rem;
  height: 2.5rem;
  font-weight: 700;
  color: #fff;
  background-color: rgb(4 152 236);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
